*,
*::after,
*::before {
  box-sizing: border-box;
}

body {
  margin: 0;
  color: black;
  background-color: white;
  font-weight: 600;
  width: 100%;
  overflow-x: hidden;
}

.image-gallery {
  position: relative;
  width: 100vw;
  height: 100vh;
}

.container {
  width: 100vw;
  height: 100vh;
  height: -webkit-fill-available;
  position: absolute;
  left: 0;
  top: 0;
  user-select: none;
  overflow: hidden;
}

.center {
  height: 100vh;
  position: absolute;
  left: 50%;
  top: 28%;
  transform: translate(-50%);
  user-select: none;
}

.items {
  transform-origin: center 200vh;
  transform: rotate(0);
  user-select: none;
  display: flex;
}

.item {
  position: absolute;
  user-select: none;
  cursor: pointer;
  transform: translateX(-50%);
}

.item, .card {
  cursor: pointer; /* Ensures clickability is indicated */
}

.card {
  display: block;
  width: 430px;
  height: 610px;
  color: #fff;
  user-select: none;
  overflow: hidden;
  cursor: grab;
  position: relative;
  
}

.image {
  height: 100%;
  width: 100%;
  object-fit: cover;
  position: absolute;
  top: 0;
  left: 0;
  /* filter: grayscale(100); */
  pointer-events: auto;
}

@media screen and (max-height: 1000px) {
  .card {
    width: 350px;
    height: 497px;
  }
}

@media screen and (max-height: 800px) {
  .card {
    width: 300px;
    height: 400px;
  }
}
