header {
    background-color: #000000;
    padding: 10px;
    position: sticky;
    top: 0;
    z-index: 1000;
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 50px;
}

.logo h1 {
    font-size: 24px;
    color: #ffffff;
}

.nav-links {
    list-style: none;
    display: flex;
    gap: 50px;
}

.nav-links li {
    display: inline;
}

.nav-links a {
    text-decoration: none;
    color: #ffffff;
    font-size: 16px;
    padding: 5px 20px;
    border-radius: 15px;
    transition: background-color 0.3s ease, color 0.3s ease;
}

/* Style for the current page */
.nav-links a.active {
    background-color: #ffffff;
    color: #000000;
}

/* Hover effect for nav links */
.nav-links a:hover {
    background-color: #ffffff;
    color: #000000;
}

/* Icons styling */
.nav-icons a {
    color: #ffffff;
    margin-left: 20px;
    font-size: 18px;
    transition: color 0.3s ease;
}

/* Hover effect for icons */
.nav-icons a:hover {
    color: #f0f0f0;
}
