.new-book {
    background:  linear-gradient(rgb(20, 20, 20), rgb(0, 0, 0));
}

.new-book-release {
    display: flex;
    justify-content: space-between;
    align-items: center;
    
    padding: 85px;
}

.new-book-info {
    max-width: 50%;
}

.new-book-info h2 {
    color: #ff2600;
    font-size: 18px;
    font-family: 'monument';
    letter-spacing: 1px;
    font-weight: 200;
}

.new-book-info h1 {
    font-size: 48px;
    color: #fff;
    margin: 10px 0;
    font-family: 'monument';
}

.new-book-info p {
    font-size: 16px;
    color: #fff;
    line-height: 1.6;
    margin-bottom: 30px;
}

.new-book-buttons {
    display: flex;
    gap: 20px;
}

.purchase-btn,
.kindle-btn {
    padding: 10px 20px;
    text-decoration: none;
    border-radius: 5px;
    font-size: 16px;
    transition: background-color 0.3s ease, color 0.3s ease;
}

.purchase-btn {
    background-color: #ff2600;
    color: #fff;
}

.kindle-btn {
    background-color: #fff;
    color: #ff2600;
}

.purchase-btn:hover {
    background-color: #bb1c00;
    color: #fff;
}

.kindle-btn:hover {
    background-color: #c5c5c5;
    color: #ff2600;
}
.new-book-image {
    max-width: 400px;
    overflow: hidden;
    border-radius: 5px;
    transition: box-shadow 0.3s ease; /* Add transition for smooth effect */
}

.new-book-image .image-container {
    width: 100%;
    height: auto;
    overflow: hidden;
}

.new-book-image img {
    width: 100%;
    transition: opacity 0.3s ease; 
}

/* .new-book-image img:hover {
    opacity: 0.8; 
} */

.new-book-image:hover {
    box-shadow: 0 0 40px 5px rgba(255, 255, 255, 0.3);
}